td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}
html,body
{
  margin:0px;
  padding:0px;
  border:0px;
}

.crs4_function{
  display: none;
}

#login_page{
  display: none;
}
#all_content{
  display: none;
}

#login_error{
  display: none;
}

iframe{
  display: block;       /* iframes are inline by default */
  border: none;         /* Reset default border */
  height: 120vh;        /* Viewport-relative units */
  width: 100%;
  margin:0px;
  padding:0px;
  border:none;
  overflow:hidden;
}

.crs4-highlight{
  background-color: red !important;
}


.crs4-icon{
  vertical-align: middle;
  margin-right: 3px;
}




#crs4-oggetti{
  visibility: hidden;
}

#left_bar{
  position: fixed;
  top: 60px;
  left:0;
  z-index: 9999;
}

#container{
  padding-top:60px;
  margin-left: 270px;
}
#header{
  position:fixed;
  width: 100%;
}


.widget_top_left { float: left; ;}
.widget_top_right { text-align: right; float: right;}
.util_icon { 
  margin: 8px;
  height: 20px;
    width: 20px;
    display: block;
    /* position: absolute; */
    background: url(../images/sprite-icons/icon-black.png) no-repeat;
}